<div class="Form">
  <div class="Form-Item">
    <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>部屋一周の長さ</p>
    <%= @estimation.wide %>畳
  </div>
  <div class="Form-Item">
    <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>天井までの高さ</p>
    <%= @estimation.height %>m
  </div>
  <div class="Form-Item">
    <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>天井を含むか</p>
    <%= @estimation.ceilling.name %>
  </div>
  <div class="Form-Item">
    <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>壁紙のグレード</p>
    <%= @estimation.grade.name %>
  </div>
</div>


  <div class="Form">
    <div class="Form-Item">
      <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>部屋の広さ</p>
      <%= @estimation.wide %>畳
    </div>
    <div class="Form-Item">
      <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>天井までの高さ</p>
      <%= @estimation.height %>m
    </div>
    <div class="Form-Item">
      <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>天井を含むか</p>
      <%= @estimation.ceilling.name %>
    </div>
    <div class="Form-Item">
      <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>壁紙のグレード</p>
      <%= @estimation.grade.name %>
    </div>
  </div>