<!DOCTYPE html>
<html lang="ja">
<head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Wallpaper</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    

</head>



  <body>
    <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <a href="#" class="brand">クロスの張り替え申し込みサイト</a>
        <nav class="nav">
          <button class="nav__toggle" aria-expanded="false" type="button">
            menu
          </button>
          <ul class="nav__wrapper">
            <li class="nav__item"><a href="#">Home</a></li>
            <li class="nav__item"><a href="#">なぜ安いのか？</a></li>
            <li class="nav__item"><a href="#">壁紙サンプル</a></li>
            <li class="nav__item"><a href="#">実績</a></li>
            <li class="nav__item"><a href="#">約束事</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <%= yield %>

    <footer class="lp-sec-footer">
    <div class="lp-block">
        <small class="lp-copyright">&copy; 会社名</small>
    </div>
    </footer>

  </body>
</html>
